<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <link rel="icon" href="static/assets/icon.png">
    <title>Features</title>
    <link rel="stylesheet" href="static/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="static/css/Features-Boxed.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.css">
    <link rel="stylesheet" href="static/css/Navigation-Clean.css">
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" data-aos="fade-down">
        <div class="container"><img src="static/assets/BotLogo.png" width="50" height="50"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse"
                id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/features">Features</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="features-boxed" style="color: #e28c05;">
        <div class="container" style="color: #1f2021;">
            <div class="intro">
                <h2 class="text-center">Features </h2>
                <p class="text-center">Bebot has many different commands for you to use.</p>
            </div>
            <div class="row justify-content-center features">
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box" style="color: #1f2021;"><i class="fa fa-map-marker icon"></i>
                        <h3 class="name">Moderation Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.clear for clearing messages</span></li>
                            <li class="list-group-item"><span>b.nuke for getting rid of up to 1000 messages</span></li>
                            <li class="list-group-item"><span>b.kick for kicking users</span></li>
                            <li class="list-group-item"><span>b.ban for banning users</span></li>
                            <li class="list-group-item"><span>b.unban for unbanning users</span></li>
                            <li class="list-group-item"><span data-bs-parallax-bg="true">b.mute for muting users</span></li>
                            <li class="list-group-item"><span>b.unmute for unmuting users</span></li>
                            <li class="list-group-item"><span>b.welcome for setting up a welcome message</span></li>
                            <li class="list-group-item"><span>b.cursemod for setting a profanity filter</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                    <div class="box"><i class="fa fa-phone icon"></i>
                        <h3 class="name">XP Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.level to get your level</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-clock-o icon"></i>
                        <h3 class="name">Anime Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.anisearch to get details on an anime</span></li>
                            <li class="list-group-item"><span>b.anistream to get an anime stream</span></li>
                            <li class="list-group-item"><span>b.watchbebop to get an episode of cowboy bebop</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                    <div class="box"><i class="fa fa-plane icon"></i>
                        <h3 class="name">Economy Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.daily to get your daily 5000 woolongs</span></li>
                            <li class="list-group-item"><span>b.tohand to send woolongs from the bank to the hand</span></li>
                            <li class="list-group-item"><span>b.tobank to send woolongs from the hand to the bank</span></li>
                            <li class="list-group-item"><span>b.bj to play BlackJack</span></li>
                            <li class="list-group-item"><span>b.gamblenums to play the number game</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                </div>
                <div class="col-sm-6 col-md-5 col-lg-4 item">
                    <div class="box"><i class="fa fa-list-alt icon"></i>
                        <h3 class="name">Gaming Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.mw to get your COD MW stats</span></li>
                            <li class="list-group-item"><span>b.fortnite to get your fortnite stats</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                    <div class="box"><i class="fa fa-leaf icon"></i>
                        <h3 class="name">Music Commands</h3>
                        <ul class="list-group">
                            <li class="list-group-item"><span>b.join to join your VC</span></li>
                            <li class="list-group-item"><span>b.leave to leave its VC</span></li>
                            <li class="list-group-item"><span>b.play to play a song or playlist from a search or url</span></li>
                            <li class="list-group-item"><span>b.loop to loop the queue</span></li>
                            <li class="list-group-item"><span>b.queue to get the current queue</span></li>
                            <li class="list-group-item"><span>b.pause to pause the playing song</span></li>
                            <li class="list-group-item"><span>b.unpause to unpause the playing song</span></li>
                            <li class="list-group-item"><span>b.volume to set bebots volume</span></li>
                        </ul><a class="learn-more" href="#">Learn more »</a></div>
                </div>
            </div>
        </div>
    </div>
    <script src="static/js/jquery.min.js"></script>
    <script src="static/bootstrap/js/bootstrap.min.js"></script>
    <script src="static/js/bs-init.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/aos/2.2.0/aos.js"></script>
</body>

</html>